
.phone-input {
  position: relative;
  height: 40px;

  button {
    background-color: #666;
    color: #eee;
    border: 1px solid transparent;
    position: absolute;
    height: 100%;
    width: 60px;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    font-weight: 500;
    padding: 0 4px 0 0; // compensate for +

    &:hover {
      background-color: #484848;
    }

    &:focus {
      z-index: 2;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(108,117,125,.5);
    }
  }

  input {
    margin: 0; // safari has default margins all around
    position: absolute;
    left: 60px;
    right: 0;
    width: auto;
    border-radius: 0 4px 4px 0;
    border-left-color: #fff;
  }

  .telpopup {
    z-index: 4;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    top: 46px;
    margin-bottom: 16px; // if at bottom of screen
    min-width: 246px;    // SHOULD BE SAME AS OVERALL WIDTH

    max-height: 152px;  // scrolling
    overflow: auto;

    // scrollbar
    scrollbar-track-color:  #eee;
    //scrollbar-3dlight-color:  #ccc;
    //scrollbar-darkshadow-color:  #ccc;
    scrollbar-arrow-color:  #aaa;
    scrollbar-face-color:  #fff;

    a {
      display: block;
      padding: 8px 12px;
      cursor: default;
      color: #000;
      text-decoration: none;

      &:hover {
        background-color: #e8e8e8;
        color: #000;
      }

      &.checked {
        background-color: #666; // #e8f0ff;
        color: #fff;
        font-weight: 500;
        &:hover {
          background-color: #484848;
        }
      }

      &:focus {
        outline: 0;
        background-color: #286090 !important;
        color: #fff;
      }
    }

    .code {
      min-width: 44px;
      display: inline-block;
    }

  }

}
