/*
  https://yoksel.github.io/url-encoder/   handy for svg
 */

// iphone     note add this to enable :active styles,  document.addEventListener("touchstart", function(){}, true);
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

$error-red: #dc3545;

.App {
  text-align: center;
  position: relative;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 48px;
}

.App-header {
  background-color: #222;
  /*height: 150px;
  padding: 20px;*/
  color: white;
}

.App-header h1 {
  display: inline-block;
  vertical-align: bottom;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*           COMMON THINGS             */

h2 {
  font-weight: 500;
  margin-bottom: 8px;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

/* **************** */

.upper-case {
  text-transform: uppercase;
}

.bg-light {
  background-color: #f8f9fa!important;
}

form {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 0 12px;
  max-width: 480px;
}

.rep-no-label {
  padding-bottom: 10px;
}

.form-field {
  position: relative;
}

.form-field input {
  width: 100%;
  min-height: 40px;
  padding: 5px 2px 5px 10px;
  box-sizing: border-box;
  font-size: 16px;
  /*padding-left: 8px;*/
  /*border: 1px solid #9e9e9e;*/
  margin-bottom: 2px;
  display: block;

  /*height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;*/
  line-height: 1.5;
  /*color: #495057;*/
  color: #000;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-field input:focus {
  /*color: #495057;*/
  color: #000;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  z-index: 2;
  position: relative;
}

.ff-invalid input,
.ff-invalid select {
  border: 1px solid #efafaf;
  /*border: 1px solid $error-red; */
}

.form-field label {
  padding: 12px 0 8px 2px;
  display: block;
  /*font-weight: 500;
  color: #31628d;*/
  color: #646464;
}

.field-error {
  color: $error-red;
  font-size: 14px;
  padding: 4px 0 4px 2px;
  display: block;
}

.form-field .medium {
  max-width: 260px;
}

.form-field .narrow {
  max-width: 200px;
}

.form-field .tiny {
  max-width: 100px;
}

/* method to override the chrome autofill colors */

@-webkit-keyframes autofill {
  to {
    color: #0000c4;
    /*background: transparent;*/
    background-color: #e8f0ff;
  }
}

input:-webkit-autofill,
select:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

/* ----------------------- SELECT =========== */

.custom-select {
  margin: 0 0 2px 0;
  /*color: #495057;*/
  color: #000;
  font-size: 16px;
  min-height: 40px;
  /*padding: 5px 2px 5px 10px;*/
  display: inline-block;
  width: 100%;
  /*height: calc(2.25rem + 2px);*/
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;  // FOR IE11 needs to be 0.75rem at right !!
  line-height: 1.5;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-select:focus {
  border-color: #80bdff;
  outline: 0;
  /*box-shadow: 0 0 0 0.2rem rgba(128, 189, 255, 0.5);*/
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  z-index: 2;
  position: relative;
}

.custom-select::-ms-expand {
  opacity: 0;
  display: none;
}

.custom-select:focus::-ms-value {
  /*color: #495057;*/
  color: #000;
  background-color: #fff;
}

/* ------- select with no value ----- */

.no-value {
  color: #aaa;
}

.no-value:focus {
  color: #000;
}

::placeholder {
  color: #aaa;
  opacity: 1;
}

:-ms-input-placeholder { color: #aaa !important; }

/* ---------------------- buttons ------------- */

.btn {
  display: inline-block;
  padding: 5px 12px 6px;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-primary:hover {
  background-color: #286090;
  border-color: #204d74;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(108,117,125,.5);
}

.btn + .btn {
  margin-left: 8px;
}

.btn-mini {
  height: 28px;
  font-size: 14px;
  line-height: 1;
  padding: 0 12px;
}

/*      form-fieldset       */

.form-fieldset {
  border: 0;
  padding: 0;
  margin: 24px 0;
}

.form-fieldset legend {
  padding: 0;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2;
}

/****** RADIOS ******/

.radio-fieldset {
  border: 0;
  padding: 0;
  margin: 8px 0 0 0;
}

.radio-fieldset .radio-horizontal {
  display: inline-block;
}

.radio-fieldset legend {
  padding: 0 0 0 2px;
  font-weight: 400;
  color: #646464;
  font-size: 16px;
  line-height: 2;
}

.radio-fieldset input {
  opacity: 0;
  height: 22px;
  width: 22px;
  position: absolute !important;
  pointer-events: none;
}

.radio-fieldset label {
  padding: 7px 8px 8px 36px;
  line-height: 22px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 4px;
  display: block;
  width: 100%;
  background: transparent url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='12' fill='%23ced4da'/%3E%3Ccircle cx='12' cy='12' r='10.5' fill='%23fff'/%3E%3C/svg%3E%0A")
    no-repeat left 5px top 6px;
  background-size: 24px 24px;
  transition: color .15s ease-in-out, background-image .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.radio-fieldset input:checked + label {
  color: #4d494d;
  /*font-weight: 500;*/
  background: transparent url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='10.5' fill='%23007bff'/%3E%3Ccircle cx='12' cy='12' r='9' fill='%23fff'/%3E%3Ccircle cx='12' cy='12' r='5.5' fill='%23007bff'/%3E%3C/svg%3E%0A")
  no-repeat left 5px top 6px;
  background-size: 24px 24px;
}

.radio-fieldset label:hover {
  color: #000030 !important;
  /*background-color: #fbfbfb;*/
  border-color: #d2d8e6;
}

.radio-fieldset input:focus + label {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  border-color: #80bdff;
}

/***** CHECKBOX *****/

.checkbox {
}

.checkbox input {
  opacity: 0;
  height: 22px;
  width: 22px;
  position: absolute !important;
  pointer-events: none;
}

.checkbox label {
  outline: 0;
  padding: 7px 8px 8px 36px;
  line-height: 22px;
  box-sizing: border-box;
  // border: 1px solid transparent;
  border: 1px solid rgb(248, 249, 250);
  border-top-color: transparent; // prevent shadow issue
  border-radius: 4px;
  display: inline-block;
  width: auto;   // or 100% for full field width
  background: transparent url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='0' width='24' height='24' rx='2' ry='2' fill='%23ced4da'/%3E%3Crect x='1' y='1' width='22' height='22' fill='%23fff'/%3E%3C/svg%3E%0A")
    no-repeat 5px 6px;
  background-size: 24px 24px;
  transition: color .15s ease-in-out, background-image .25s ease-in-out, box-shadow .15s ease-in-out, border-color .15s ease-in-out;
}

.checkbox input:checked + label {
  color: #4d494d;
  background: transparent url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='22' height='22' rx='2' ry='2' fill='%23007bff' /%3E%3Cpath d='M 6 12 L 11 16 L 18 7' stroke='%23fff' stroke-width='3.5' fill='none' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E%0A")
    no-repeat 5px 6px;
  background-size: 24px 24px;
}

.checkbox label:hover,
.checkbox input:checked + label:hover {
  // color: #000030 !important;
  // background-color: #fbfbfb;
  border-color: #d2d8e6;
}

.checkbox input:focus + label {
  //outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  border-color: #80bdff !important;
  z-index: 100;
}

.ff-invalid .checkbox label {
  color: $error-red;
}

.forms-rtl .checkbox label {
  padding: 7px 36px 6px 5px;
}

/*
<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#333">
  <circle cx="12" cy="12" r="12" stroke="none"/>
  <circle cx="12" cy="12" r="8" stroke="#fff" stroke-width="4"/>
</svg>
*/

/* ----------- ALERT / ERRORS ----------- */

.alert {
  margin-top: 12px; /* bp hack */
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: box-shadow 0.15s ease-in-out;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert a,
.alert .link {
  display: block;
  margin: 6px 0;
  padding: 4px 12px;
  text-decoration: none;
  color: inherit;
  border-radius: .25rem;
  background-color: transparent;
  transition: box-shadow 0.15s ease-in-out;
  max-width: 100%;
  white-space: pre-wrap;
  text-align: left;
  // word-wrap: break-word;   // IE ?
}

.alert a:focus,
.alert .link:focus,
.alert:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.alert-danger a:focus,
.alert-danger:focus {
  border-color: #ff8080;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

.alert .link:active {
  color: #fff;
  background-color: #007BFF;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/** remove round corners */

.sq-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.form-field .sq-right,
.sq-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/** div being deleted, animation */

.div-deleting {
  opacity: 0;
  animation: divDeleting .3s ease-out;
}

@keyframes divDeleting {
  0% { opacity: 1; transform: translate(0,0); }
  100% { opacity: 0; transform: translate(-100%,0); }
}

.div-sliding {
  opacity: 1;
  animation: divSliding .3s ease-out;
}

@keyframes divSliding {
  0% { opacity: 0; transform: translate(+100%,0); }
  100% { opacity: 1; transform: translate(0,0); }
}

/** modal options */

.fatal {
  .modal-header {
    background-color: #ad0000;
    color: #fff;
  }
  .modal-footer {
    background-color: #fff6f2;
    border-color: #fbd7d7;
  }
}

.genTable {
  border-collapse: collapse;

  tr {
    cursor: default;
    &:hover {
      background-color: #e0e0e0;
    }
  }

  td {
    border: 1px solid #e0e0e0;
    vertical-align: top;
    padding: 2px 8px;
  }
}